<h1>Gym</h1>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  @for (gym of gyms; track gym.id) {
    <mat-tab label="{{ gym.name }}">
      <manage-gym [gym]="gym" />
    </mat-tab>
  }
  <mat-tab label="+ Add">

<mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput placeholder="Name" formControlName="name" required>
  <mat-error>
    <validation-message [control]="$any(form.get('name'))"></validation-message>
  </mat-error>
</mat-form-field>

    <span class="spacer"></span>
    <button matButton="filled" color="primary">Add Gym</button>
  </mat-tab>
</mat-tab-group>

