<mat-toolbar color="primary">
  <img src="assets/logo.png" alt="Logo" />
  <menu [items]="menuItemList" [label]="'Inventory'"></menu>
  <span class="spacer"></span>
  @if (isLoggedIn) {
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  } @else {
    <button mat-icon-button (click)="login()">
      <mat-icon>login</mat-icon>
    </button>
  }
</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
  <ngx-ui-loader></ngx-ui-loader>
</div>
