################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/gamifyworkout.client/obj
/GamifyWorkout.Server/bin
/GamifyWorkout.Server/obj