################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.vs
/**/.vscode
/**/bin
/**/obj
*.exe

# terraform
/terraform/.terraform/
/terraform/*.tfstate
/terraform/*.tfstate.*
/terraform/.terraform.tfstate.lock.info
/terraform/crash.log
