################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/.vscode
/**/bin
/**/obj
/gamifyworkout.client/obj
/GamifyWorkout.Server/bin
/GamifyWorkout.Server/obj
/Api/bin
/Api/obj
/Core/bin
/Core/obj
/Database/bin
/Database/obj
/frontend/obj
/obj
/frontend/src/app/shared/template/node_modules
/Tests/bin
/Tests/obj
