//327EA5
//a5327e
//#7EA532

// @use '@angular/material' as mat;
// @import 'assets/theme-colors.scss';
// @include mat.core();

//$my-primary: mat.m2-define-palette(mat.$m2-blue-palette);
//$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// $my-theme: mat.m2-define-light-theme((
//   color: (
//     primary: $primary-palette,
//     tertiary: $tertiary-palette,
//     accent: $secondary-palette,
//   )
// ));

//@include angular-material-theme($custom-theme);

//@include mat.all-component-themes($my-theme);
//@include mat.progress-bar-color($my-theme);
//@include mat.button-color($my-theme);
// @include mat.toolbar-overrides((
//   container-background-color: var(--mat-sys-primary), // Use system variable for primary color
//   container-text-color: var(--mat-sys-on-primary) // Use system variable for text color
// ));

@use '@angular/material' as mat;
@include mat.core();
@import 'assets/theme-colors.scss';

html {
  $system-variables-theme: mat.define-theme(
    (
      color: (
        primary: $primary-palette,
        tertiary: $tertiary-palette,
        //accent: $secondary-palette
      ),
      typography: (
        use-system-variables: true,
      ),
    )
  );
  @include mat.all-component-themes($system-variables-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper{
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}

menu {
  padding-inline-start: 0;
}

.spacer {
  flex: 1 1 auto;
}
