//327EA5
//a5327e  purple
//#7EA532


@use '@angular/material' as mat;
@include mat.core();
@import 'assets/theme-colors.scss';

html {
  $system-variables-theme: mat.define-theme(
    (
      color: (
        // TODO
        theme-type: light,
        primary: $primary-palette,
        tertiary: $tertiary-palette
      ),
      typography: (
        use-system-variables: true,
      ),
    )
  );
  @include mat.all-component-themes($system-variables-theme);
  @include mat.toolbar-overrides((
    container-background-color: #327EA5, // TODO should use a variable not hardcoded
    container-text-color: var(--mat-sys-on-primary)
  ));
}

//  color: mat.get-theme-color($my-theme, primary);

// TODO
a { color: #fff; }
// TODO fix this property insteading of overriding
mat-toolbar a { font-size:20px; }
mat-icon { color: #fff!important; }

mat-tab-body { padding: 32px 16px; }
mat-form-field { padding-bottom: 16px; }
table { margin-bottom: 16px; }
button { margin-bottom: 16px; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper{
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}

menu {
  padding-inline-start: 0;
}

.spacer {
  flex: 1 1 auto;
}
